# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Output / Input JSON files
dynamodb-data.json
dynamodb-output.json
qldb-data.json 
qldb-output.json

# Generated .csv files
*.csv